*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1440px !important;
    overflow-x: hidden; 
}
html{
    scroll-behavior: smooth;
}  
header{
    width: 100%;
    height: 10vh;
    background-color: black;
    position: fixed;
    z-index: 999;
}
.nav_content{
    display: grid;
    grid-template-columns:40% 60%;
    padding: 1rem 1.5rem;
}
.nav_logo{
    margin-left: 4rem;
} 
.nav_menu{
    display: flex;
    justify-content: space-between;
}
.dropdown {
    position: relative;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #009688;
    min-width: 8rem;
    margin-top: .5rem;
    margin-left: -1rem;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: .8rem 1rem;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #FF7900;
}
.dropdown:hover .dropdown-content {
    display: block;
} 
.nav_list li{
    display: inline-block;
    list-style: none;
    margin-right: 1rem;
} 
.nav_link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-right:1rem ;
    margin-right: 3rem;
}
.nav_link:hover{
    font-weight: bolder;
    padding: .5rem; 
    color:#13afb4 ;
    font-size: 1.2rem;
}
.get{
    background-color: rgb(0, 150, 136, 1);
    border: 2px solid #0a898d;
    float: right;
    margin-top: -.3rem;
    margin-left: 10rem;
    padding: .5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
}
.get a{
    color: white;
    text-decoration: none;
}
.get:hover{
    background-color: #FF7900;
    border: 2px solid #FF7900;
    font-weight: bold;
}
.nav_close, .nav_listIcon{
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}
/* section styling */
.section_1{
    width: 100%; 
    height: 604px;
    background: url(./img/section\ bg.png);
    background-position: center;
    background-size: cover; 
}
.hero_section{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color:#000000; 
    opacity: 75%;
}
.hero{
    width: 50rem;
    text-align: center;
}
.hero_section_title{
    font-size: 2.8rem;
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
}
.orange{
    color:#FF7900 ;
}
.empower{
    padding-top: 1rem;
    font-family: Mulish;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 3rem;
}
.hero_subheading{
    display: grid;
    grid-template-columns:10% 50% 40%;
    opacity: 80%;
    padding: 1rem 1.5rem;
    margin: 1.5rem 4rem;
    border-radius: 15rem;
    background-color: #09887b;
}
.hero_subheading input{
    width: 100%;
    border: none;
    background-color: transparent;
}
.hero_subheading input::placeholder{
    color: white;
    font-size: 1.5rem;
}
.bi-search{
    margin-bottom: .1rem;
    padding-right: .8rem;
    font-size: 1.5rem;
}
.search{
    background-color: #FF7900;
    width: 70%;
    padding:.5rem 1.5rem;
    border-radius: 1.5rem;
    margin-left: 4rem;
    margin-top: -.5rem;
    color: white;
    border: none;
    cursor: pointer;
}
.search:hover{
    background-color: #ce7e38;
    font-weight: bold;
    width: 80%;
}
/*section 2*/
.section_2{
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 300%;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-image{
    width: 100%;
    height: auto;
}
/*section 3*/
.section_3{
    width: 100%; 
    height: 559px;
    display: grid;
    grid-template-columns: repeat(2, 40rem);
    gap: 3rem;
    padding: 5rem;
    background-color: #F4FFFE;    
}
.section_3A{
    width: 40rem;
    height: 23rem;
    margin-left: 2rem;
}
.section_3A h2{
    font-size: 2.5rem;
    font-family: "Chonburi", serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    padding-bottom: 1.5rem;
}
.green{
    color: #009688;
}
.section_3A p{
    line-height: 1.5rem;
    font-family: Mulish;
    font-weight: 600;
    padding-bottom: 1.7rem;
}
.section_3A button{
    background-color: #009688;
    padding: .8rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
}
.section_3A button:hover{
    background-color: #FF7900;
    border: 2px solid #FF7900;
    font-weight: bold;
}
.section_3A button a{
    text-decoration: none;
    color: white;
}
.section_3B{
    width: 30rem;
    height: 22rem;
    margin-right: 2rem;
    position: relative;
}
.section_3B hr{
    height: 10rem;
    background-color: #FF7900;
    border: none;
    width: 3rem;
    opacity: 50%;
    position: absolute;
    top: -23%;
    left: 377px;
    
}
.section_3B img{
    border-radius: 2rem;
    box-shadow: 6px 6px 0 rgb(228, 223, 223),
                12px 12px 0 #FF7900,
                inset 10px 10px 0 rgb(228, 223, 223),
                inset 11px 11px 0 hsl(28, 98%, 50%);
}
/* section 4*/
.section_4{
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 2rem;
}
.section4_heading h2{
    font-size: 2.5rem;
    font-family: "Chonburi", serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    padding-bottom: 1rem;
}
.section4_heading p{
    font-family: Mulish;
    font-weight: 600;
    padding-bottom: 2rem;
}
/* .project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 1440px;
    margin: 0 3rem;
} */
.project_box{ 
    white-space: nowrap;
    height: 430px;
    padding: 1.5rem; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* transition: transform 0.5s ease-in-out; */
    /* overflow: hidden;  */ 
    width: 70%;
    gap: 32px; 
  /*   margin-left:  3rem; */
}
.section4_project{
    width: 21rem;
    height: 24rem;
    display: grid;
    border-radius: 10px;
    grid-template-rows: 80% 20%;
    gap: 5px; 
    box-shadow: 0px 0px 30.5px 0px #00000014;
    position: relative;
}
.swiper-button-next::after, 
.swiper-button-prev ::after {
    content: '';
}
.imgbox{
    border-radius: 10px;
    padding: .5rem ;
}
.imgbox img{
    width: 100%;
}
.video-logo{
    position: absolute;
    top: 30%;
    left: 40%;
    cursor: pointer;
}
.project_subheading{
    text-align: start;
    padding: 0 .5rem;
    margin-top: -2rem;
    line-height: 1rem;
    font-family: Mulish;
}
.project_subheading h4{
    padding-top: .8rem;
    font-weight: 700; 
    font-size: 12px;
}
.project_subheading p{
    padding-top: .5rem;
    font-weight: 500;
}
.vector{
    width: 25px;
    height: 13px;
    margin-top: .5rem;
}
.details{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 20px;
}
.details a{
    color: #FF7900;
    padding-left: 8rem;
    padding-top: .5rem;
}
.details a:hover{
    color: #009688;
}
.see{
    margin: 2rem auto;
    padding: .8rem 1.2rem;
    background-color: #009688;
    border-radius: 1.5rem;
    border: none;
}
.see:hover{
    background-color: #FF7900;
    font-weight: bold;
}
.see a{
    text-decoration: none;
    color: white;
}

/* section 5*/
.section_5{
    width: 100%; 
    height: 800px;
    display: grid;
    text-align: center;
    background-color: #F4FFFE;
    padding: 2rem;
    margin-top: 2rem;
}
.section_5_box{
   /*  border: 2px solid purple; */
    height: 550px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
   /*  grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */
    gap: 18px;
    margin-inline: 8rem;
}
.section5_box1{
    background-color: #009688;
    border-radius: 1.8rem;
    height: 33rem;
    width: 33rem;
    position: relative;
    text-align: start;
    padding: 2rem;
}
.eclipse1{
    background: #D8FBF8;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    height: 33rem;
    width: 33rem;
    border-radius: 500px 500px 32px 32px;
    opacity: 10%; 
}
.pro-coperation{
    padding: 0 2rem;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}
.pro-coperation img, .section5_box2 img, .section5_box3 img{
    /* width: 88px;
    height: 100px; */
    z-index: 999;
}
.section5-title{
    color: white;
    font-size: 2.75rem;
    font-family: "Chonburi", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 52px;
}
.section_5A p{
    padding: 1.5rem;
    color: white;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400; 
    line-height: 32px;
    
}
.now5{
    padding: .8rem 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
}
.now5:hover{
    background-color: #FF7900;
    font-weight: bold;
}
.now5 a{
    color: #009688;
    text-decoration: none;
}
.section_5AB{
    padding-top: 3rem;
    padding-right: 1.5rem;
}
.section_5AB h2{
    font-family: Chonburi;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: center;
    
}
.section_5AB a:hover{
    color: #BE5A00;
    font-weight: bold;
    font-size: 1.5rem;
}
.section5_box2, .section5_box3{
    border-radius: 1.8rem;
    height: 33rem;
    width: 15rem;
    position: relative; 
    padding: 5rem 2rem;
    overflow-x: hidden; 
}
.section5_box2{
    background-color: #D8FBF8;
   /*  margin-left: -3rem; */
}
.section5_box3{
    background-color: #FFDDBE;
}
.eclipse2{
    background: #009688;
    position: absolute;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    height: 33rem;
    width: 33rem;
    border-radius: 500px 500px 20px 20px;
   opacity: 5%;  
}
.eclipse3{
    background: #BE5A00;
    position: absolute;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    height: 33rem;
    width: 33rem;
    border-radius: 500px 500px 20px 20px;
   opacity: 5%;  
}
/* section 6*/
.section_6{
    width: 100%;
    height: 532px;
    display: grid;
    text-align: center;
    background-color: white;
    padding-top: 1rem;
    margin-top: 2rem;
}
.section6_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    gap: 30px;
    padding: 0 6rem;
    margin-top: -2rem;
}
.flexible{
  text-align: start;
  width: 270px;
  height: 245px;
  line-height: 1.5rem;
  font-family: Mulish;  
  /* border: 1px solid green; */
}
.flexible h2{
    font-size: 20px;
    font-weight: 700;
    padding: .7rem 0;
} 
/* section 7*/
.section_7{
    display: grid;
    text-align: center;
    background-color: #F4FFFE;
    padding-top: 2rem;
}
.section_7 h2{
    font-size: 2.5rem;
    font-family: "Chonburi", serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
}
.accordion {
    width: 100%;
    max-width: 1152px;
    margin: 3rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.accordion-item {
    border-top: 1px solid #ccc;
}
.accordion-item:first-child {
    border-top: none;
}
.accordion-header {
    padding: 1rem 1.5rem;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #009688;
    font-size: 24px;
    font-weight: 700;
    font-family: Mulish;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-content {
    display: none;
    padding: 1.2rem;
    border-top: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    line-height: 1.6;
    text-align: start;
    color: #292D32;
}
.accordion-content h4{
    color: #009688;
    font-weight: 700;
    font-family: Mulish;
    font-size: 24px;
}
.accordion-content p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: Mulish;
}
.accordion-header.active {
    background-color: white;
}
.accordion-header::after {
    content: "\276F";
    transform: rotate(90deg);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #000000;
    padding: .5rem;
    background-color: #F9F9F9;

}
.accordion-header.active::after {
    content: "\276E";
    transform: rotate(90deg);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #000000;
    padding: .5rem;
    background-color: #F9F9F9;
}
/*footer*/
footer{
height: 35vh;
width: 100%; 
background-color: #000000;
padding: 2rem 6rem;
}
.footer-img{
    margin: .5rem 30rem ;
}
.footer-content{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}
.footer-content li{
    display: inline-block;
    margin-right: 5rem;
    list-style: none;
}
.footer-hr{
    width: 92%;
    color: #C7C7CC;
    margin: 2rem 3rem;
}
.footer-content li a{
    text-decoration: none;
    color: #C7C7CC;
}
.footer2{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    color: #C7C7CC;
}
.footer-icon a{
    color: #C7C7CC;
    padding-left: .5rem;
}
.footer-link{
    font-size: 1.5rem;
    padding: 0 .4rem;
    cursor: pointer;
} 
.footer-link:hover{
    font-size:2.5rem ;
    color: #009688;
}


/* @media (max-width: 960px){
    header{
        width: 80rem;
        height: 10vh;
    }
    .get{
        float: right;
        padding-top: .8rem;
    }
    .section_1, .section_2, .section_3, .section_4, .section_5, .section_7, footer{
        width: 80rem;
    }
    .project_box{
        margin:0 5rem;
    }
    .section5_box2{
       margin-left: 2rem; 
    }
}
@media (max-width: 768px){
   /*  header, .section_1, .section_2, .section_3, .section_4, .section_5, .section_7, footer{
        width: 90rem;
    } */






/* Partners slider styles */


.partners-slider {
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    gap: 20px; /*gap  between*/
    /* width will be dynamically set in JS */
}

.partner-logo {
    flex: 0 0 auto;
    width: 300px; /* Adjust width as needed */
    height: 500px; /* Fixed height for logos */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}





.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(27, 120, 81, 0.8);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Back-to-top button styles */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}


/* Keyframes for infinite scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move the track to the left by half its width */
    }
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
    .partner-logo {
        width: 100px; /* Adjust width for smaller screens */
        height: 70px; /* Adjust height for smaller screens */
    }
}



/* Testimonials Section */
.testimonials-section {
    position: relative;
    background-image: linear-gradient(to bottom right, rgba(128, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('static/images/back2.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 100px 0;
}

.testimonials-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial-item {
    flex: 1 1 30%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.testimonial-item:hover {
    transform: translateY(-10px);
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #e63946;
}

.testimonial-text {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #ddd;
}

.testimonial-author {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .testimonials-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-item {
        max-width: 80%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .testimonial-item {
        max-width: 90%;
        padding: 20px;
    }

    .testimonial-text {
        font-size: 0.9rem;
    }

    .testimonial-author {
        font-size: 0.8rem;
    }
}



/* Footer Section Styles */
.footer-section {
    background: linear-gradient(to right, rgba(91, 2, 2, 0.9), rgba(0, 0, 0, 0.8)), 
    url('static/images/2.jpg') no-repeat center center/cover;
    color: #fff;
    background-attachment: fixed;
    padding: 40px 0; /* Increased padding for more space */
}

.footer-logo {
    width: 150px; /* Adjust width as needed */
    margin-bottom: 20px; /* Space below logo */
}

.footer-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
}

.footer-addresses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 0.875rem;
    padding: 20px; /* Added padding for better spacing */
}

.list-inline{
    margin:20px;
}

.address {
    flex: 1;
    text-align: left;
    padding: 20px; /* Increased padding for better spacing */
}

.address strong {
    display: block;
    margin-bottom: 0.5rem;
}

.footer-title::after {
    content: "";
    width: 60px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.875rem;
}

.mail {
    font-size: 0.875rem; 
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/* Social Media Icon Styles */
.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    flex-direction: row;
}

.socialContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    border-radius: 50%;
}

.socialContainer:hover {
    background-color: maroon;
    transform: scale(1.2);
}

.socialSvg {
    width: 16px;
    height: 16px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .footer-section .col-md-3 {
        text-align: center !important;
        margin-bottom: 30px;
    }

    .footer-addresses {
        flex-direction: column;
        text-align: center;
    }
    
    .address {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 20px; /* Maintain padding for better spacing */
    }

    .social-icons {
        justify-content: center;
    }

    .socialContainer {
        width: 40px;
        height: 40px;
    }

    .socialSvg {
        width: 20px;
        height: 20px;
    }

    .footer-title {
        text-align: center;
    }

    .footer-title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .linkfooter {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .list-inline {
        text-align: center;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media (max-width: 576px) {
    .footer-section {
        padding: 30px 0; /* Adjusted padding for smaller devices */
    }

    .footer-addresses {
        text-align: center !important;
    }

    .address {
        padding: 15px 0;
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .linkfooter {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .list-inline {
        text-align: center;
        justify-content: center !important;
        align-items: center !important;
    }

    .navbar-brand {
        width: 120px; /* Adjust width for mobile screens */
        height: 40px;
    }
    
    .navbar.scrolled .navbar-brand{
        width: 120px; /* Adjust width for mobile screens */
        height: 40px;
    }
    
    
    
    .logo{  
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        padding-right: 60px;
        
    }
}


.back-to-top {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 6px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .back-to-top:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(247, 247, 247);
    align-items: center;
  }
  
  .back-to-top:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  .back-to-top::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: #333;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .back-to-top:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }

  .btnway {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
    align-items: center; /* Vertically center the button */
    padding: 0; /* Optional: Adjust padding as needed */
}
  

@media (max-width: 768px) {
    .back-to-top {
        width: 40px; /* Smaller for mobile */
        height: 40px;
    }
    .back-to-top:hover {
        width: 100px; /* Smaller expand width on mobile */
    }

    
  .btnway {
    display: flex;
    justify-content:  center; /* Align button to the right */
    align-items: center; /* Vertically center the button */
    padding: 0; /* Optional: Adjust padding as needed */
}

.navbar-brand {
    width: 110px; /* Adjust width for mobile screens */
    height: 40px;
}

.navbar.scrolled .navbar-brand{
    width: 110px; /* Adjust width for mobile screens */
    height: 40px;
}



.logo{  
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    padding-right: 60px;
    
}
}












    .logo{  
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    padding-right: 60px;

    }



    .navbar-brand {
    display: block; /* Ensure the brand occupies space */
    background: url("static/images/logo/samdus_white.png") no-repeat center center;
    background-size: contain; /* Ensure the image fits within the set dimensions */
    width: 150px; /* Set the width of the brand image */
    height: 50px; /* Set an appropriate height */
    text-indent: -9999px;
    }


    .navbar.scrolled .navbar-brand{
    display: block; /* Ensure the brand occupies space */
    background: url("static/images/logo/samdus\ trans.png") no-repeat center center;
    background-size: contain; /* Ensure the image fits within the set dimensions */
    width: 150px; /* Set the width of the brand image */
    height: 50px; /* Set an appropriate height */
    text-indent: -9999px;
    }
